/**
 * Created by Pompo on 07.05.2017.
 */
//цены
.price{
  padding: 3rem 0;

  &__wrap{
    background-color: $white;
    border-radius: .5rem;
    padding: 1.25rem;

    @include respondTo(small){
      background-color: transparent;
      border-radius: 0;
      padding: 0;
    }
  }

  &__table{
    margin-bottom: 3.5rem;

    @include respondTo(small){
      margin-bottom: 2.5rem;
    }

    &:last-of-type{
      margin-bottom: 2rem;
    }

    & tr{
      background-color: #ffffff;

      &:first-of-type{
        background-color: #dddddd !important;
      }
      
      &:nth-child(2n + 1){
        background-color: #f5f5f5;
      }
    }

    & td,
    & th{
      height: 42px;
      vertical-align: middle;
      font-size: 16px;
      border: 1px solid #ccc;
      padding: .5em .8em;
      line-height: 1.5;

      @include respondTo(small){
        height: 38px;
        font-size: 14px;
      }

      &:nth-child(2n){
        text-align: right;
        font-weight: 700;
      }
    }

    & th{
      font-weight: 700;
      text-align: center;
      font-family: $Lora;
      padding: 1em .8em;

      &:nth-child(2n){
        text-align: center;
      }
    }
  }
}

.service-section{
  padding: 3rem 0;
}

.contact{
  padding: 3rem 0;

  &__wrap{
    background-color: $white;
    border-radius: .5rem;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;

    @include respondTo(mobile){
      flex-direction: column;
    }
  }

  &__col{
    width: 50%;

    @include respondTo(mobile){
      width: 100%;

      &:first-child{
        margin-bottom: 2rem;
      }
    }
  }

  &__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    @include respondTo(small){
      flex-direction: column;
    }

    &:last-child{
      margin-bottom: 0;
    }

    & .btn{
      margin: 0 auto;
    }
  }

  &__data{
    font-weight: 700;
    font-size: 1.1em;
    display: inline-block;
    text-align: right;
    width: 35%;
    line-height: 1.5;
    white-space: nowrap;

    @include respondTo(small){
      font-size: 1.2rem;
      width: 100%;
      text-align: center;
    }
  }

  &__txt{
    font-size: 1.1em;
    display: inline-block;
    width: 60%;
    line-height: 1.5;
    white-space: nowrap;

    @include respondTo(small){
      width: 100%;
      text-align: center;
    }

    &_gray{
      opacity: .7;
      font-size: .9em;

      @include respondTo(tablet){
        display: none;
      }

      @include respondTo(mobile){
        display: inline-block;
      }

      @include respondTo(small){
        display: none;
      }
    }
  }
}

.txt-block{
    background-color: $white;
    border-radius: .5rem;
    padding: 1.25rem;
    margin-bottom: 3rem;

  &:last-of-type{
    margin-bottom: 0;
  }

  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

.section{
  padding: 3rem 0;
}

.license{
  width: 50%;
  float: left;

  & .popup-gallery{
    display: flex;
    justify-content: space-between;
  }

  @include respondTo(mobile){
    width: 100%;
    margin-bottom: 2rem;
  }
}

.compact{
  width: 40%;
  float: right;

  @include respondTo(mobile){
    width: 100%;
    float: none;
  }

  &__link{
    font-size: 1.2rem;
    line-height: 1.3;
    margin-bottom: .5em;
    color: $main-color;
    text-decoration: underline;
    display: inline-block;

    @include respondTo(mobile){
      font-size: 1rem;
    }
  }
}

.sait-map{
  display: flex;
  flex-direction: column;

  &__link{
    color: $main-color;
    font-size: 1.2rem;
    line-height: 1.5;

    &_second{
      font-size: 1rem;
      padding-left: 1.5rem;
    }
  }
}