/**
 * Created by Pompo on 07.05.2017.
 */

//button
.btn{
  display: inline-block;
  border-radius: 999em;
  border: 2px solid $white;
  box-shadow: 0 1px 10px rgba(0,0,0,.2);
  padding: .75em 1em;
  box-sizing: border-box;
  background-color: $main-color;
  color: $white;
  font-size: 1.1rem;
  text-decoration: none;
  line-height: 1.2;
  transition: all ease .3s;

  &:hover{
    background-color: #5bcada;
    box-shadow: 0 3px 16px rgba(0,0,0,.35);
  }
}

//form
.form{
  background-color: $white;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  box-sizing: border-box;
  border-radius: .75rem;

  @include respondTo(small){
    padding: 20px;
  }

  &__row{
    @extend %clearfix;

    margin-top: 1rem;
  }

  & label{
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: .5rem;
  }

  & input{
    width: 100%;
    height: 3rem;
    padding: .35em;
    color: $black;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    font-size: 1.1rem;
    border-radius: .35rem;
  }

  & textarea{
    resize: none;
    width: 100%;
    padding: .35em;
    color: $black;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    font-size: 1.1rem;
    border-radius: .35rem;
  }

  &__title{
    font-size: 2rem;
    margin: 0 0 1rem;
    font-family: $Lora;

    @include respondTo(small){
      font-size: 1.5rem;
    }
  }

  &__txt{
    font-size: 1.35rem;
    font-family: $Lora;
    line-height: 1.5;
    text-align: center;

    @include respondTo(small){
      font-size: 1rem;
    }
  }
}

.btn-form{
  min-width: 240px;
  cursor: pointer;

  @include respondTo(small){
    width: 100%;
  }
}

.link-doc{
  position: relative;
  padding-left: 45px;
  color: $black;
  display: block;
  line-height: 1.5;
  transition: color ease .3s;
  text-decoration: underline;
  margin-bottom: 1.5em;

  @include respondTo(mobile){
    font-size: .85em;
    padding-left: 35px;
  }

  &:hover{
    color: $main-color;

    &:before{
      background-color: transparent;
      color: $main-color;
      border-color: inherit;
    }
  }

  &:before{
    position: absolute;
    content: 'doc';
    text-transform: uppercase;
    color: #fff;
    font-size: .7em;
    border-radius: 50%;
    background-color: $main-color;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    left: 0;
    top: 0;
    border: 1px solid $main-color;
    transition: all ease .3s;

    @include respondTo(mobile){
      width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: .6em;
    }
  }
}

.link-xls{
  @extend .link-doc;

  &:before{
    content: 'xls';
  }
}

.link-pdf{
  @extend .link-doc;

  &:before{
    content: 'pdf';
  }
}

.link-link{
  @extend .link-doc;

  &:before{
    content: '>>';
  }
}

.txt-list{
  list-style: none;
  margin: 0 0 2rem 1rem;

  @include respondTo(small){
    margin-left: 0;
  }

  & li{
    position: relative;
    font-size: 1rem;
    padding: 0 0 .75em .75em;
    font-weight: 600;
    line-height: normal;

    &:last-of-type{
      padding-bottom: 0;
    }

    &:before{
      content: '';
      position: absolute;
      top: 9px;
      left: 0;
      border-radius: 50%;
      background-color: $black;
      width: 4px;
      height: 4px;
    }
  }
}

.link{
  color: $main-color;
  text-decoration: underline;
  transition: color ease .3s;

  &:hover{
    color: darken($main-color, 15%);
  }
}

.more-link{
  position: relative;
  padding-right: 10px;
  color: $main-color;
  margin-top: 1em;
  text-decoration: none;
  transition: color ease .3s;
  display: inline-block;
  line-height: 1.2;

  &:after{
    position: absolute;
    content: '';
    right: 0;
    top: 8px;
    width: 4px;
    height: 4px;
    background-color: transparent;
    border-left: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
    transform: rotate(225deg);
    transition: all ease .3s;
  }
}