/**
 * Created by Pompo on 06.05.2017.
 */

//color
$main-color: #42b4c4;
$white: #fff;
$bg-color: #f0efed;
$black: #333333;

//fonts
$Mark: 'Marck Script', cursive;
$Lora: 'Lora', serif;
$PT-Sans: 'PT Sans', sans-serif;