.breadcrumbs{
    margin: 2.5rem 0 0;

    &__item{
        color: $main-color;
        font-size: .875rem;
        position: relative;
        padding-right: .75rem;
        text-decoration: none;
        display: inline-block;
        line-height: 1.2;

        &:after{
            position: absolute;
            content: '/';
            right: 4px;
            top: 0;
            width: 3px;
            height: 100%;
        }

        &:last-child{
            color: #333;
            padding-right: 0;

            &:after{
                display: none;
            }
        }
    }
}