/**
 * Created by Pompo on 22.08.2017.
 */
.card{
  background-color: $white;
  border-radius: .5rem;
  text-decoration: none;
  transition: box-shadow ease .3s;
  display: inline-block;
  margin-bottom: 3rem;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;

  @include respondTo(mobile){
    margin-bottom: 1.5rem;
  }

  &:hover{
    box-shadow: 0 2px 12px rgba(0,0,0,.25);
  }

  &__img img{
    border-radius: .5rem .5rem 0 0;
    transition: transform ease .6s;
  }

  &__img{
    border-radius: .5rem .5rem 0 0;
    overflow: hidden;

    & img{
      min-width: 100%;
    }
  }

  &__body{
    padding: 20px;
  }

  &__title{
    font-size: 1.7rem;
    line-height: 1.2;
    color: $main-color;
    font-weight: 700;

    @include respondTo(mobile){
      font-size: 1.2rem;
    }
  }

  &__txt{
    color: $black;
    font-size: .8rem;
    padding-top: 1em;
  }

  &_articles{
    display: flex;

    @include respondTo(small){
      flex-direction: column;
    }

    & .card__img img,
    & .card__img{
      border-radius: .5rem 0 0 .5rem;
    }

    & .card__img img{
      vertical-align: bottom;
    }

    & .card__img{
      min-width: 250px;

      &_34{
        background: url('../img/posledstviya-mezhpozvonochnoj-gryzhi.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_33{
        background: url('../img/pokazaniya-k-lechebnomu-massazh.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_32{
        background: url('../img/tekhnika-massazha-pri-skolioze.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_31{
        background: url('../img/pokazaniya-k-provedeniyu-ehlektroforeza.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_30{
        background: url('../img/profilaktika-razvitiya-mezhpozvonkovoj-gryzhi.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_29{
        background: url('../img/protivopokazaniya-k-provedeniyu-massazha.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_28{
        background: url('../img/mezhpozvonochnaya-gryzha-prichiny-simptomy-lechenie.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_27{
        background: url('../img/stadii-razvitiya-mezhpozvonochnoj-gryzhi.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_26{
        background: url('../img/psihoehmocionalnoe-sostoyanie-cheloveka.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_25{
        background: url('../img/lechenie-mezhpozvonochnoj-gryzhi.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_24{
        background: url('../img/pokazaniya-i-protivopokazaniya-k-manualnoj-terapii.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_23{
        background: url('../img/lechebnye-blokady.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_shejnom-osteohondroz{
        background: url('../img/shejnom-osteohondroz.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_gryzhu-massazh{
        background: url('../img/gryzhu-massazh.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_metody-lecheniya{
        background: url('../img/lecheniya-mezhpozvonochnoj-gryzhi.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_history-manual{
        background: url('../img/istoriya-manualnoj-terapii.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_igloukalyvanie{
        background: url('../img/igloukalyvanie1.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_girudoterapii{
        background: url('../img/osobennosti-girudoterapii.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_massazh{
        background: url('../img/massazh.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_igloukalyvanie{
        background: url('../img/igloukalyvanie.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_ozonoterapiya{
        background: url('../img/ozonoterapiya.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_elektro-stimul{
        background: url('../img/elektro-stimul.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_lfk{
        background: url('../img/lfk.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_massag-detym{
        background: url('../img/massag-detym.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_nevrolog{
        background: url('../img/nevrolog.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_spina{
        background: url('../img/bol-v-spine.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_girudo{
        background: url('../img/girudoterapia-history.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_iglo{
        background: url('../img/igloykalivanie.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_profilactica{
        background: url('../img/profilactica.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_tonus{
        background: url('../img/tonus.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_massag{
        background: url('../img/massag.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_urolog{
        background: url('../img/urolog.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_griga{
        background: url('../img/griga.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_napryaz{
        background: url('../img/napryaz.jpg') no-repeat scroll transparent 50% 50% / cover;
      }
    }

    & .card__txt{
      font-size: 1rem;
    }

    &:hover{

      & .more-link{
        color: darken($main-color, 15%);

        &:after{
          border-color: darken($main-color, 15%);
          right: -5px;
        }
      }
    }
  }
}

//карточка доктора
.doctor-card{
  padding: 2rem 0 3rem;

  &__wrap{
    background-color: $white;
    border-radius: .5rem;
    padding: 1.25rem;
    margin-bottom: 2rem;

    @extend %clearfix;

    &:last-of-type{
      margin-bottom: 0;
    }
  }

  &__img{
    border-radius: .5rem;
    float: left;
    display: block;
    width: 220px;

    @include respondTo(mobile){
      float: none;
      margin: 0 auto;
    }
  }

  &__txt{
    padding-left: 2rem;
    float: left;
    box-sizing: border-box;
    width: calc(100% - 220px);

    @include respondTo(mobile){
      width: 100%;
      padding-left: 0;
      padding-top: 2rem;
    }

    @include respondTo(small){
      font-size: .9em;

      & .content-title{
        font-size: 1.3rem;
      }
    }

    & .content-title{
      margin-top: 0;
    }
  }
}