/**
 * Created by Pompo on 22.08.2017.
 */
.card{
  background-color: $white;
  border-radius: .5rem;
  text-decoration: none;
  transition: box-shadow ease .3s;
  display: inline-block;
  margin-bottom: 1.5rem;

  &:hover{
    box-shadow: 0 3px 16px rgba(0,0,0,.35);
  }

  &__img img{
    border-radius: .5rem .5rem 0 0;
    transition: transform ease .6s;
  }

  &__img{
    border-radius: .5rem .5rem 0 0;
    overflow: hidden;

    & img{
      min-width: 100%;
    }
  }

  &__body{
    padding: 20px;
  }

  &__title{
    font-size: 1.2rem;
    line-height: 1.2;
    color: $main-color;
    font-weight: 700;
  }

  &__txt{
    color: $black;
    font-size: .8rem;
    padding-top: 1em;
  }

  &_articles{
    display: flex;

    @include respondTo(small){
      flex-direction: column;
    }

    & .card__img img,
    & .card__img{
      border-radius: .5rem 0 0 .5rem;
    }

    & .card__img img{
      vertical-align: bottom;
    }

    & .card__img{
      width: 300px;

      &_spina{
        background: url('../img/bol-v-spine.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_girudo{
        background: url('../img/girudoterapia-history.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_iglo{
        background: url('../img/igloykalivanie.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_profilactica{
        background: url('../img/profilactica.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_tonus{
        background: url('../img/tonus.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_massag{
        background: url('../img/massag.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_urolog{
        background: url('../img/urolog.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_griga{
        background: url('../img/griga.jpg') no-repeat scroll transparent 50% 50% / cover;
      }

      &_napryaz{
        background: url('../img/napryaz.jpg') no-repeat scroll transparent 50% 50% / cover;
      }
    }

    & .card__txt{
      font-size: .85em;
    }

    &:hover{

      & .more-link{
        color: darken($main-color, 15%);

        &:after{
          border-color: darken($main-color, 15%);
          right: -5px;
        }
      }
    }
  }
}

//карточка доктора
.doctor-card{
  padding: 3rem 0;

  &__wrap{
    background-color: $white;
    border-radius: .5rem;
    padding: 1.25rem;
    margin-bottom: 2rem;

    @extend %clearfix;

    &:last-of-type{
      margin-bottom: 0;
    }
  }

  &__img{
    border-radius: .5rem;
    float: left;
    display: block;
    width: 220px;

    @include respondTo(mobile){
      float: none;
      margin: 0 auto;
    }
  }

  &__txt{
    padding-left: 2rem;
    float: left;
    box-sizing: border-box;
    width: calc(100% - 220px);

    @include respondTo(mobile){
      width: 100%;
      padding-left: 0;
      padding-top: 2rem;
    }

    @include respondTo(small){
      font-size: .9em;

      & .content-title{
        font-size: 1.3rem;
      }
    }
  }
}