/**
 * Created by Pompo on 12.02.2018.
 */
.doctor{
  padding: 4rem 0;
  text-align: center;

  @include respondTo(small){
    padding: 2rem 0;
  }

  & .card__title{
    font-size: 1.3rem;
  }


  & .c-wrap{
    max-width: 980px;

    @include respondTo(desktop){
      max-width: 940px;
    }

    @include respondTo(tablet){
      max-width: 728px;
    }

    @include respondTo(mobile){
      max-width: 440px;
    }
  }

  & .card{
    text-align: left;
  }

  & .card__body{
    height: 195px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;

    &:after{
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      background: linear-gradient(to top, #ffffff 50%, rgba(255,255,255,.1));
      border-radius: 0 0 .5rem .5rem;
    }
  }
}