/**
 * Created by Pompo on 07.05.2017.
 */
.footer{
  background: $main-color linear-gradient(to bottom, #5bcada, #42b4c4);
  padding: 20px 0;

  &__row{
    @extend %clearfix;
  }
  
  &__col{
    width: 50%;
    float: left;

    @include respondTo(small){
      width: 100%;
      float: none;
    }

    &:nth-child(2){
      text-align: right;

      @include respondTo(small){
        text-align: left;
        margin-top: 1rem;
      }
    }

    & .btn{
      background-color: $white;
      color: $main-color;
      border-color: $main-color;
    }
  }

  &__nav{
    display: flex;
    justify-content: space-between;

    @include respondTo(mobile){
     flex-direction: column;
    }

    & ul{
      padding-top: 1rem;
      list-style: none;
      width: 50%;

      @include respondTo(mobile){
        width: 100%;
        padding-top: 0;
      }

      & li{
        padding-bottom: .5em;
      }
    }


    & a{
      color: $white;
      text-decoration: none;
      line-height: 1;
      font-size: 1.1em;
      position: relative;
      padding-left: 15px;

      &:hover{
        text-decoration: underline;
      }

      &:before{
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        background-color: transparent;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: rotate(225deg);
        top: calc(50% - 2px);
        left: 0;
      }

      @include respondTo(mobile){
        font-size: 1rem;
      }
    }
  }

  &__txt{
    text-transform: uppercase;
    background-color: rgba(255,255,255,.8);
    color: $black;
    font-weight: 700;
    display: inline-block;
    padding: .5em .75em;
    border-radius: .5rem;

    @include respondTo(mobile){
      font-size: .8rem;
    }
  }

  &__phone{
    white-space: nowrap;
    color: $white;
    display: inline-block;
    text-decoration: none;

    & span{
      font-size: 1.2em;
    }
  }

  &__location{
    white-space: nowrap;
    color: $white;
    margin-top: .5rem;
    font-size: 1.1em;
  }
}

.copyright{
  margin-top: 1rem;
  font-size: .75rem;
  white-space: nowrap;

  @include respondTo(small){
    font-size: .6rem;
  }
}