/**
 * Created by Pompo on 07.05.2017.
 */

.header{
  background-color: $white;
  padding: 20px 0;

  & .c-wrap{
    position: relative;
  }

  &__logo{
    width: 53%;
    float: left;

    @include respondTo(tablet){
      width: 80%;
      float: none;text-align: center;
      margin: 0 auto 1rem;
    }

    @include respondTo(mobile){
      line-height: 1.3;
    }
  }

  &__phone{
    width: 22%;
    float: left;
    text-align: right;

    @include respondTo(tablet){
      width: 48%;
      margin-right: 2%;
    }

    @include respondTo(small){
      width: 100%;
      float: none;
      margin-right: 0;
      margin-bottom: 1rem;
      text-align: center;
    }

    & a{
      display: inline-block;
      text-decoration: none;
      font-size: .8rem;
      line-height: 1.5;
      color: $black;

      & span{
        font-size: 1.2rem;
      }
    }
  }

  &__location{
    width: 25%;
    float: right;
    text-align: right;
    line-height: 1.5;
    font-size: 1.1rem;

    @include respondTo(tablet){
      width: 48%;
      text-align: left;
      margin-left: 2%;
    }

    @include respondTo(small){
      width: 100%;
      margin: 0;
      text-align: center;
      float: none;
    }
  }
}

.logo{
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $main-color;
  margin-bottom: .75rem;
  font-weight: 700;
  display: block;
  font-family: $Lora;
}

.slogan{
  display: inline-block;
  font-family: $Mark;
  font-size: 1.5rem;

  & > i{
    color: red;
  }
}

.view-map{
  text-decoration: none;
  border-bottom: 1px dashed $black;
  font-size: 1rem;
  color: $black;
  transition: all ease .3s;

  &:hover{
    color: $main-color;
    border-bottom-color: $main-color;
  }
}