/**
 * Created by Pompo on 07.05.2017.
 */

.accent{
  color: $main-color;
  font-size: 1.1em;
}

.swiper-pagination-bullet-active{
  background: $main-color;
}

.js-mobile{
  display: none;
  top: 5px;
  right: 20px;

  @include respondTo(tablet){
    display: block;
  }
}

.swiper-doctor{
  overflow: hidden;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: -20px;

  @include respondTo(small){
    display: none;
  }
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  right: -20px;

  @include respondTo(small){
    display: none;
  }
}

sup{
  font-size: 12px;
  vertical-align: top;
}

//стили для поиска Яндекса
#ya-site-results .b-serp-item__title, #ya-site-results .ad .ad-link{
  display: inline-block;
  padding-bottom: .5em;
}

.b-head{
  display: none;
}

#ya-site-form0 .ya-site-form__form .ya-site-form__input-text{
  padding: .25em .5em;
}

#ya-site-form0 .ya-site-form__submit_type_image{
  width: 30px !important;
  height: 30px !important;
  background: url('../img/icon-search.svg') no-repeat scroll transparent 50% 50% !important;
  position: relative;
  margin-left: -30px !important;
}