/**
 * Created by Pompo on 07.05.2017.
 */

.accent{
  color: $main-color;
  font-size: 1.1em;
}

.swiper-pagination-bullet-active{
  background: $main-color;
}

.js-mobile{
  display: none;
  top: 5px;
  right: 20px;

  @include respondTo(tablet){
    display: block;
  }
}

.swiper-doctor{
  overflow: hidden;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: -20px;

  @include respondTo(small){
    display: none;
  }
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  right: -20px;

  @include respondTo(small){
    display: none;
  }
}

sup{
  font-size: 12px;
  vertical-align: top;
}